n8n-workflows/wf-09-multiplicadores-preview.json
{
  "name": "CT WF-09 — Multiplicadores Preview",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crack-tesos/multiplicadores/preview",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Preview",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validar token JWT\nconst token = $input.first().json.headers['x-admin-token'];\nif (!token) return [{json: {ok: 'false', error: 'No autorizado'}}];\ntry {\n  const decoded = Buffer.from(token, 'base64').toString('utf8');\n  const parts = decoded.split('|');\n  if (parts.length !== 3 || parts[2] !== 'CrackTesos2026_Admin_Token') {\n    return [{json: {ok: 'false', error: 'Token inválido'}}];\n  }\n  const tokenAge = Date.now() - parseInt(parts[1]);\n  if (tokenAge > 8 * 3600 * 1000) return [{json: {ok: 'false', error: 'Sesión expirada. Vuelve a ingresar.'}}];\n} catch(e) {\n  return [{json: {ok: 'false', error: 'Token inválido'}}];\n}\n\nconst body = $input.first().json.body;\nconst triviaNumber = parseInt(body.trivia_number);\n\nif (!triviaNumber || triviaNumber < 1) return [{json: {ok: 'false', error: 'Número de trivia inválido'}}];\nif (!body.records || !Array.isArray(body.records) || body.records.length === 0) {\n  return [{json: {ok: 'false', error: 'No se recibieron registros del archivo'}}];\n}\n\n// Función de cálculo de multiplicador por rangos\n// Regla: de 15 a 29 → x2, de 30 a 44 → x3, etc. (incrementa 1x cada 15 códigos desde 15)\nfunction calcMultiplier(codes) {\n  const n = parseInt(codes) || 0;\n  if (n < 15) return 0; // no aplica\n  return Math.floor((n - 15) / 15) + 2;\n}\n\n// Normalizar registros e incluir códigos\nconst records = body.records.map(r => {\n  const codes = parseInt(r.number_of_codes || r.codigos || r.codes || 0);\n  const mult = calcMultiplier(codes);\n  let phone = String(r.phone || r.telefono || '').replace(/[^0-9]/g, '');\n  if (phone && !phone.startsWith('57') && phone.length === 10) phone = '57' + phone;\n  return {\n    document_id: String(r.document_id || r.cedula || '').trim(),\n    phone,\n    name: String(r.name || r.nombre || '').trim(),\n    number_of_codes: codes,\n    multiplier: mult\n  };\n}).filter(r => (r.document_id || r.phone) && r.multiplier > 0);\n\nif (records.length === 0) {\n  return [{json: {ok: 'false', error: 'Ningún registro tiene 15 o más códigos para aplicar multiplicador'}}];\n}\n\nreturn [{json: {\n  ok: 'true',\n  trivia_number: triviaNumber,\n  records,\n  operator_email: body.operator_email || 'unknown',\n  source_file: body.source_file || 'upload'\n}}];"
      },
      "id": "validate",
      "name": "Validar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose"},
          "conditions": [{"id": "ok", "leftValue": "={{ $json.ok }}", "rightValue": "true", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "¿Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT trivia_id, trivia_number, status FROM ct_trivias WHERE trivia_number = {{ $json.trivia_number }} LIMIT 1",
        "options": {}
      },
      "id": "check-trivia",
      "name": "Verificar Trivia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 200],
      "credentials": {"postgres": {"id": "supabase-creds", "name": "Supabase DB"}}
    },
    {
      "parameters": {
        "jsCode": "// Cruzar registros del archivo con la BD\nconst validated = $('Validar').first().json;\nconst triviaRow = $input.first().json;\n\nif (!triviaRow.trivia_id) {\n  return [{json: {ok: 'false', error: `Trivia #${validated.trivia_number} no encontrada`}}];\n}\n\n// Preparar listas para cruce SQL (cada registro tiene su propio multiplier calculado)\nconst docs = validated.records.map(r => r.document_id).filter(Boolean);\nconst phones = validated.records.map(r => r.phone).filter(Boolean);\n\n// Mapa de multiplier por documento/teléfono para recuperar después del JOIN\nconst multByDoc = {};\nconst multByPhone = {};\nvalidated.records.forEach(r => {\n  if (r.document_id) multByDoc[r.document_id] = {multiplier: r.multiplier, codes: r.number_of_codes};\n  if (r.phone) multByPhone[r.phone] = {multiplier: r.multiplier, codes: r.number_of_codes};\n});\n\nreturn [{json: {\n  ok: 'true',\n  trivia_id: triviaRow.trivia_id,\n  trivia_number: validated.trivia_number,\n  records: validated.records,\n  mult_by_doc: multByDoc,\n  mult_by_phone: multByPhone,\n  docs_list: docs.map(d => `'${d}'`).join(','),\n  phones_list: phones.map(p => `'${p}'`).join(','),\n  operator_email: validated.operator_email,\n  source_file: validated.source_file\n}}];"
      },
      "id": "prepare-cross",
      "name": "Preparar Cruce",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  u.user_id, u.name, u.document_id, u.phone,\n  r.response_id, r.total_goals AS goals_trivia,\n  r.multiplier_bonus,\n  CASE WHEN r.multiplier_bonus > 0 THEN true ELSE false END AS already_applied\nFROM ct_users u\nJOIN ct_trivia_responses r ON u.user_id = r.user_id\nWHERE r.trivia_id = '{{ $json.trivia_id }}'\n  AND r.is_correct = true\n  AND r.is_duplicate = false\n  AND (\n    u.document_id IN ({{ $json.docs_list || \"'__NONE__'\" }})\n    OR u.phone IN ({{ $json.phones_list || \"'__NONE__'\" }})\n  )\nORDER BY u.name",
        "options": {}
      },
      "id": "get-eligible",
      "name": "Obtener Elegibles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 200],
      "credentials": {"postgres": {"id": "supabase-creds", "name": "Supabase DB"}}
    },
    {
      "parameters": {
        "jsCode": "const prepData = $('Preparar Cruce').first().json;\nconst rows = $input.all();\nconst multByDoc = prepData.mult_by_doc || {};\nconst multByPhone = prepData.mult_by_phone || {};\n\n// Enriquecer cada usuario con su multiplicador individual\nconst eligible = rows.map(r => {\n  const u = r.json;\n  // Buscar multiplicador por documento (prioridad) o teléfono\n  const info = multByDoc[u.document_id] || multByPhone[u.phone] || {multiplier: 0, codes: 0};\n  const mult = info.multiplier;\n  const codes = info.codes;\n  const goalsToAdd = u.goals_trivia * (mult - 1);\n  const goalsFinal = u.goals_trivia * mult;\n  return {\n    ...u,\n    multiplier: mult,\n    number_of_codes: codes,\n    goals_to_add: goalsToAdd,\n    goals_final: goalsFinal\n  };\n}).filter(u => u.multiplier > 0);\n\nconst totalGoalsToAdd = eligible.reduce((s, r) => s + r.goals_to_add, 0);\nconst alreadyApplied = eligible.filter(r => r.already_applied).length;\n\nconst preview_table = eligible.map(r => ({\n  nombre: r.name,\n  cedula: r.document_id,\n  codigos: r.number_of_codes,\n  multiplicador: `x${r.multiplier}`,\n  goles_actuales_trivia: r.goals_trivia,\n  goles_a_agregar: r.goals_to_add,\n  goles_nuevos_trivia: r.goals_final,\n  ya_aplicado: r.already_applied ? 'SÍ — ADVERTENCIA' : 'No'\n}));\n\nreturn [{json: {\n  ok: 'true',\n  trivia_number: prepData.trivia_number,\n  trivia_id: prepData.trivia_id,\n  operator_email: prepData.operator_email,\n  source_file: prepData.source_file,\n  summary: {\n    total_en_archivo: prepData.records.length,\n    total_elegibles: eligible.length,\n    total_goles_a_agregar: totalGoalsToAdd,\n    ya_con_multiplicador: alreadyApplied\n  },\n  preview_table,\n  eligible_users: eligible\n}}];"
      },
      "id": "build-preview",
      "name": "Construir Preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ {ok: 'false', error: $json.error} }}"
      },
      "id": "respond-error",
      "name": "Responder Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 460]
    }
  ],
  "connections": {
    "Webhook Preview": {"main": [[{"node": "Validar", "type": "main", "index": 0}]]},
    "Validar": {"main": [[{"node": "¿Válido?", "type": "main", "index": 0}]]},
    "¿Válido?": {
      "main": [
        [{"node": "Verificar Trivia", "type": "main", "index": 0}],
        [{"node": "Responder Error", "type": "main", "index": 0}]
      ]
    },
    "Verificar Trivia": {"main": [[{"node": "Preparar Cruce", "type": "main", "index": 0}]]},
    "Preparar Cruce": {"main": [[{"node": "Obtener Elegibles", "type": "main", "index": 0}]]},
    "Obtener Elegibles": {"main": [[{"node": "Construir Preview", "type": "main", "index": 0}]]},
    "Construir Preview": {"main": [[{"node": "Responder", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "crack-tesos"}, {"name": "multiplicadores"}]
}
