n8n-workflows/wf-14-email-diario.json
{
  "name": "CT WF-14 — Email Diario Analytics",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 5 * * *"}]
        }
      },
      "id": "cron",
      "name": "Cron 12AM Bogotá (05:00 UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "05:00 UTC = 12:00 AM hora Bogotá (UTC-5)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT COUNT(*) FROM ct_users WHERE status='active' AND agent_name!='PRUEBAS') AS total_usuarios,\n  (SELECT COUNT(*) FROM ct_users WHERE registered=true AND status='active' AND agent_name!='PRUEBAS') AS registrados,\n  (SELECT COUNT(DISTINCT user_id) FROM ct_trivia_responses WHERE is_duplicate=FALSE AND user_id NOT IN (SELECT user_id FROM ct_users WHERE agent_name='PRUEBAS')) AS activos,\n  (SELECT COUNT(*) FROM ct_trivia_responses WHERE is_duplicate=FALSE AND user_id NOT IN (SELECT user_id FROM ct_users WHERE agent_name='PRUEBAS')) AS total_respuestas,\n  (SELECT COUNT(*) FROM ct_trivia_responses WHERE is_correct=TRUE AND is_duplicate=FALSE AND user_id NOT IN (SELECT user_id FROM ct_users WHERE agent_name='PRUEBAS')) AS correctas,\n  (SELECT COUNT(*) FROM ct_trivia_responses WHERE is_correct=FALSE AND is_duplicate=FALSE AND is_out_of_time=FALSE AND user_id NOT IN (SELECT user_id FROM ct_users WHERE agent_name='PRUEBAS')) AS incorrectas,\n  (SELECT COALESCE(SUM(total_goals),0) FROM ct_users WHERE status='active' AND agent_name!='PRUEBAS') AS goles_totales,\n  (SELECT COUNT(*) FROM ct_trivias WHERE status='sent') AS trivias_activas,\n  (SELECT COUNT(*) FROM ct_trivias WHERE status IN ('sent','closed','settled')) - (SELECT COUNT(*) FROM ct_trivias WHERE status='sent') AS trivias_sin_actividad",
        "options": {}
      },
      "id": "q-kpis",
      "name": "Query KPIs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {"postgres": {"id": "supabase-creds", "name": "Supabase DB"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rank_general, name, agent_name, total_goals, correct_count, total_responses, ROUND(avg_speed_seconds::numeric / 60, 1) AS vel_min FROM v_ct_rankings WHERE status='active' AND agent_name!='PRUEBAS' AND total_responses>0 ORDER BY total_goals DESC, avg_speed_seconds ASC NULLS LAST LIMIT 5",
        "options": {}
      },
      "id": "q-top5",
      "name": "Query Top 5",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 460],
      "credentials": {"postgres": {"id": "supabase-creds", "name": "Supabase DB"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.agent_name, COUNT(DISTINCT u.user_id) AS participantes, COUNT(DISTINCT CASE WHEN u.registered THEN u.user_id END) AS registrados, COALESCE(SUM(u.total_goals), 0) AS goles, COUNT(r.response_id) AS respuestas, CASE WHEN COUNT(r.response_id) > 0 THEN ROUND(COUNT(CASE WHEN r.is_correct THEN 1 END)::numeric / COUNT(r.response_id) * 100) ELSE 0 END AS pct_acierto FROM ct_users u LEFT JOIN ct_trivia_responses r ON u.user_id = r.user_id AND r.is_duplicate = FALSE WHERE u.status = 'active' AND u.agent_name IS NOT NULL AND u.agent_name != 'PRUEBAS' GROUP BY u.agent_name ORDER BY goles DESC LIMIT 1",
        "options": {}
      },
      "id": "q-top-agent",
      "name": "Query Agente Líder",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 620],
      "credentials": {"postgres": {"id": "supabase-creds", "name": "Supabase DB"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DATE(responded_at AT TIME ZONE 'America/Bogota') AS dia, COUNT(*) AS respuestas, SUM(CASE WHEN is_correct THEN 1 ELSE 0 END) AS correctas FROM ct_trivia_responses WHERE is_duplicate=FALSE AND user_id NOT IN (SELECT user_id FROM ct_users WHERE agent_name='PRUEBAS') GROUP BY dia ORDER BY dia ASC",
        "options": {}
      },
      "id": "q-daily",
      "name": "Query Diario",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 780],
      "credentials": {"postgres": {"id": "supabase-creds", "name": "Supabase DB"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.trivia_number, t.question, t.sent_at AT TIME ZONE 'America/Bogota' AS sent_bogota, t.closes_at AT TIME ZONE 'America/Bogota' AS closes_bogota, COUNT(r.response_id) AS respuestas, COUNT(CASE WHEN r.is_correct THEN 1 END) AS correctas FROM ct_trivias t LEFT JOIN ct_trivia_responses r ON t.trivia_id = r.trivia_id AND r.is_duplicate=FALSE AND r.user_id NOT IN (SELECT user_id FROM ct_users WHERE agent_name='PRUEBAS') WHERE t.status IN ('sent','closed','settled') GROUP BY t.trivia_id, t.trivia_number, t.question, t.sent_at, t.closes_at ORDER BY t.trivia_number",
        "options": {}
      },
      "id": "q-trivias",
      "name": "Query Trivias",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 940],
      "credentials": {"postgres": {"id": "supabase-creds", "name": "Supabase DB"}}
    },
    {
      "parameters": {
        "jsCode": "// Recopilar todos los datos y preparar contexto para Claude\nconst kpis      = $('Query KPIs').first().json;\nconst top5      = $('Query Top 5').all().map(i => i.json);\nconst topAgent  = $('Query Agente Líder').first().json;\nconst daily     = $('Query Diario').all().map(i => i.json);\nconst trivias   = $('Query Trivias').all().map(i => i.json);\n\nconst now = new Date();\nconst fechaBogota = now.toLocaleString('es-CO', {timeZone:'America/Bogota', dateStyle:'full'});\nconst fechaCorta  = now.toLocaleDateString('es-CO', {timeZone:'America/Bogota', day:'numeric', month:'long'});\nconst fechaReporte= now.toLocaleString('es-CO', {timeZone:'America/Bogota'});\n\nconst tasaAcierto = kpis.total_respuestas > 0\n  ? Math.round(kpis.correctas / kpis.total_respuestas * 100) + '%'\n  : '0%';\nconst tasaPart = kpis.total_usuarios > 0\n  ? (kpis.activos / kpis.total_usuarios * 100).toFixed(2) + '%'\n  : '0%';\n\n// Proyección simple\nlet proyeccion = null;\nif (daily.length >= 2) {\n  const n = daily.length;\n  const pts = daily.map((d, i) => ({x: i+1, y: daily.slice(0,i+1).reduce((s,r)=>s+parseInt(r.respuestas),0)}));\n  const sx = pts.reduce((s,p)=>s+p.x,0), sy = pts.reduce((s,p)=>s+p.y,0);\n  const sxy = pts.reduce((s,p)=>s+p.x*p.y,0), sx2 = pts.reduce((s,p)=>s+p.x*p.x,0);\n  const slope = (n*sxy-sx*sy)/(n*sx2-sx*sx);\n  const intercept = (sy-slope*sx)/n;\n  const pred37 = Math.round(slope*37+intercept);\n  const residuals = pts.map((p,i)=>p.y-(slope*(i+1)+intercept));\n  const se = Math.sqrt(residuals.reduce((s,r)=>s+r*r,0)/Math.max(n-2,1));\n  const r2 = 1 - residuals.reduce((s,r)=>s+r*r,0)/pts.reduce((s,p)=>{const m=sy/n;return s+(p.y-m)**2;},0);\n  proyeccion = {slope: slope.toFixed(1), r2: (r2*100).toFixed(0), se: se.toFixed(0), pred37, n};\n}\n\n// Contexto para Claude\nconst contexto = `\nDatos del reporte diario Crack Tesos 2026 — ${fechaBogota}\n\nKPIs generales:\n- Total participantes activos: ${kpis.total_usuarios}\n- Registrados: ${kpis.registrados}\n- Han participado: ${kpis.activos}\n- Respuestas totales: ${kpis.total_respuestas}\n- Correctas: ${kpis.correctas} | Incorrectas: ${kpis.incorrectas}\n- Tasa de acierto: ${tasaAcierto}\n- Tasa de participación: ${tasaPart}\n- Goles acumulados totales: ${kpis.goles_totales}\n- Trivias activas: ${kpis.trivias_activas}\n\nTop 5 ranking:\n${top5.map((p,i)=>`${i+1}. ${p.name} (${p.agent_name}) — ${p.total_goals} goles, ${p.correct_count} correctas, ${p.vel_min} min prom`).join('\\n')}\n\nAgente líder: ${topAgent.agent_name} — ${topAgent.participantes} participantes, ${topAgent.goles} goles, ${topAgent.pct_acierto}% acierto\n\nTrivias enviadas:\n${trivias.map(t=>`Trivia #${t.trivia_number}: ${t.respuestas} respuestas, ${t.correctas} correctas`).join('\\n')}\n\nParticipación diaria:\n${daily.map(d=>`${d.dia}: ${d.respuestas} respuestas (${d.correctas} correctas)`).join('\\n')}\n\n${proyeccion ? `Proyección (regresión lineal, n=${proyeccion.n} días): pendiente=${proyeccion.slope} resp/día, R²=${proyeccion.r2}%, SE=${proyeccion.se}, proyección día 37: ${proyeccion.pred37} respuestas acumuladas` : 'Proyección: insuficientes datos (se necesitan ≥2 días)'}\n`;\n\nreturn [{json: {\n  kpis, top5, topAgent, daily, trivias, proyeccion,\n  fechaReporte, fechaCorta, fechaBogota,\n  tasaAcierto, tasaPart,\n  contexto\n}}];"
      },
      "id": "build-context",
      "name": "Preparar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 620]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{ $credentials.anthropicApi }}"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=",
              "value": "={{ JSON.stringify({\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 1200,\n  messages: [{\n    role: 'user',\n    content: `Eres analista de datos del programa Crack Tesos 2026 de Terpel. Basándote en los siguientes datos, genera exactamente 5 análisis en español, cada uno de máximo 3 líneas cortas, en tono profesional pero motivador. Devuelve SOLO un JSON con las claves: general, trivia, ranking, agente, proyeccion.\\n\\nDATOS:\\n${$json.contexto}\\n\\nIMPORTANTE: Responde SOLO el JSON sin markdown ni explicaciones adicionales.`\n  }]\n}) }}"
            }
          ]
        },
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "claude-api",
      "name": "Claude API — Análisis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 620],
      "credentials": {"httpHeaderAuth": {"id": "anthropic-creds", "name": "Anthropic API"}}
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Preparar Contexto').first().json;\nconst claudeResp = $input.first().json;\n\n// Parsear respuesta de Claude\nlet analisis = {general:'', trivia:'', ranking:'', agente:'', proyeccion:''};\ntry {\n  const content = claudeResp.content?.[0]?.text || '{}';\n  const parsed = JSON.parse(content);\n  analisis = {...analisis, ...parsed};\n} catch(e) {\n  analisis.general = 'Análisis no disponible.';\n}\n\nconst {kpis, top5, topAgent, trivias, proyeccion, fechaReporte, fechaCorta, tasaAcierto, tasaPart} = ctx;\n\n// Helper para filas del ranking\nconst rankRow = (pos, p, highlight) => {\n  if (!p) return `<tr><td style=\"padding:8px 16px;color:#ccc;\">${pos}°</td><td colspan=\"5\" style=\"padding:8px 16px;color:#ccc;\">Sin datos</td></tr>`;\n  const color = highlight ? '#333' : '#aaa';\n  const size = highlight ? '13px' : '12px';\n  const vel = p.vel_min ? `${p.vel_min} min` : '—';\n  return `<tr style=\"border-bottom:1px solid #eee;\">\n    <td style=\"padding:${highlight?'10':'8'}px 16px;font-size:${size};color:${highlight?'#f5a623':'#ccc'};font-weight:bold;\">${pos}°</td>\n    <td style=\"padding:${highlight?'10':'8'}px 16px;font-size:${size};color:${color};font-weight:${highlight?'bold':'normal'};\">${p.name}</td>\n    <td style=\"padding:${highlight?'10':'8'}px 16px;font-size:11px;color:#aaa;\">${p.agent_name||'—'}</td>\n    <td style=\"padding:${highlight?'10':'8'}px 16px;font-size:${highlight?'14':'12'}px;color:${color};font-weight:bold;text-align:center;\">${p.total_goals}</td>\n    <td style=\"padding:${highlight?'10':'8'}px 16px;font-size:${size};color:#5cb85c;text-align:center;\">${p.correct_count}</td>\n    <td style=\"padding:${highlight?'10':'8'}px 16px;font-size:${size};color:${highlight?'#5cb85c':'#aaa'};text-align:center;\">${vel}</td>\n  </tr>`;\n};\n\n// Trivias rows\nconst triviaRows = trivias.map(t => `\n  <tr style=\"border-top:1px solid #eee;\">\n    <td style=\"padding:6px 12px;font-size:12px;color:#444;\">Trivia #${t.trivia_number}</td>\n    <td><div style=\"background:${t.respuestas>0?'#5bc0de':'#e8e8e8'};height:10px;width:${t.respuestas>0?Math.min(t.respuestas*10,100):4}%;border-radius:2px;\"></div></td>\n    <td style=\"font-size:11px;color:#444;text-align:right;padding:0 12px;\">${t.respuestas}</td>\n  </tr>`).join('');\n\n// Proyección texto\nconst projText = proyeccion\n  ? `<div style=\"display:inline-block;background:#f0f7ff;border:1px solid #c8e0f5;border-radius:4px;padding:10px 20px;\"><span style=\"font-size:13px;color:#1a73e8;font-weight:bold;\">📈 Proyección día 37: <strong>${proyeccion.pred37} respuestas acumuladas</strong> · R²=${proyeccion.r2}% · SE±${proyeccion.se}</span></div>`\n  : `<div style=\"font-size:13px;color:#888;\">Insuficientes datos para proyección (se necesitan ≥2 días de actividad).</div>`;\n\n// Alerta trivia activa\nconst triviaActiva = trivias.find(t => t.respuestas >= 0);\nconst alertaTrivia = triviaActiva\n  ? `<strong>Trivia #${triviaActiva.trivia_number} activa.</strong> Ya van <strong>${triviaActiva.respuestas} respuestas</strong> registradas hoy.`\n  : 'No hay trivias activas en este momento.';\n\nconst logoUrl = 'https://nodo.host/crack-tesos/images/logo-nodo.png';\nconst dashUrl = 'https://nodo.host/crack-tesos/dashboard.html';\n\nconst html = `<!DOCTYPE html>\n<html><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#f5f5f5;font-family:Arial,Helvetica,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f5f5f5;\">\n<tr><td align=\"center\" style=\"padding:24px 16px;\">\n<table width=\"640\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:640px;\">\n\n<!-- HEADER -->\n<tr><td style=\"background:#1a1a2e;border-radius:8px 8px 0 0;padding:20px 24px;\">\n  <table width=\"100%\"><tr>\n    <td><img src=\"${logoUrl}\" height=\"32\" alt=\"NODO\" style=\"filter:brightness(0) invert(1);\"> &nbsp; <span style=\"color:white;font-size:18px;font-weight:bold;\">CRACK TESOS 2026</span></td>\n    <td style=\"text-align:right;color:#aaa;font-size:12px;\">Analytics Daily · ${fechaReporte}</td>\n  </tr></table>\n</td></tr>\n\n<!-- PRE-HEADER -->\n<tr><td style=\"font-size:12px;color:#555;padding:8px 0;\">\n  ✉ <strong>Crack Tesos 2026</strong> &nbsp;·&nbsp; Reporte diario — ${fechaCorta}\n</td></tr>\n\n<!-- ALERTA -->\n<tr><td style=\"padding-bottom:12px;\">\n  <table width=\"100%\" style=\"background:#fff8e6;border:1px solid #f0c040;border-radius:4px;\"><tr>\n    <td style=\"padding:12px 16px;font-size:13px;color:#7a5800;\">\n      ⚠️ ${alertaTrivia}\n    </td>\n  </tr></table>\n</td></tr>\n\n<!-- KPIs -->\n<tr><td style=\"padding-bottom:12px;\">\n  <table width=\"100%\" style=\"background:#fff;border:1px solid #e0e0e0;border-radius:4px;\"><tr>\n    <td style=\"padding:12px 16px;border-bottom:1px solid #eee;\"><strong style=\"font-size:12px;color:#444;\">✉ Actividad General — ${fechaCorta}</strong></td>\n  </tr><tr><td style=\"padding:16px;\">\n    <table width=\"100%\"><tr>\n      <td width=\"25%\" style=\"text-align:center;border-right:1px solid #eee;\">\n        <div style=\"font-size:32px;font-weight:300;color:#333;\">${kpis.total_usuarios}</div>\n        <div style=\"font-size:11px;color:#888;\">Participantes Activos</div>\n      </td>\n      <td width=\"25%\" style=\"text-align:center;border-right:1px solid #eee;\">\n        <div style=\"font-size:32px;font-weight:300;color:#333;\">${kpis.total_respuestas}</div>\n        <div style=\"font-size:11px;color:#888;\">Respuestas Registradas</div>\n      </td>\n      <td width=\"25%\" style=\"text-align:center;border-right:1px solid #eee;\">\n        <div style=\"font-size:32px;font-weight:300;color:#333;\">${kpis.goles_totales}</div>\n        <div style=\"font-size:11px;color:#888;\">Goles Acumulados ⚽</div>\n      </td>\n      <td width=\"25%\" style=\"text-align:center;\">\n        <div style=\"font-size:32px;font-weight:300;color:#333;\">${tasaAcierto}</div>\n        <div style=\"font-size:11px;color:#888;\">Tasa de Acierto</div>\n        <div style=\"font-size:12px;color:#1a73e8;\">${kpis.correctas}✅ / ${kpis.incorrectas}❌</div>\n      </td>\n    </tr></table>\n    <div style=\"margin-top:14px;padding-top:12px;border-top:1px solid #eee;font-size:12px;color:#555;line-height:1.6;\">${analisis.general}</div>\n  </td></tr></table>\n</td></tr>\n\n<!-- RANKING -->\n<tr><td style=\"padding-bottom:12px;\">\n  <table width=\"100%\" style=\"background:#fff;border:1px solid #e0e0e0;border-radius:4px;\"><tr>\n    <td style=\"padding:12px 16px;border-bottom:1px solid #eee;\"><strong style=\"font-size:12px;color:#444;\">🏆 Ranking General — Top 5</strong></td>\n  </tr><tr>\n    <td style=\"padding:12px 16px 4px;font-size:12px;color:#555;line-height:1.6;border-bottom:1px solid #eee;\">${analisis.ranking}</td>\n  </tr><tr><td style=\"padding:0;\">\n    <table width=\"100%\">\n      <tr style=\"background:#f9f9f9;\"><td style=\"padding:8px 16px;font-size:11px;color:#888;font-weight:bold;width:30px;\">#</td><td style=\"padding:8px 16px;font-size:11px;color:#888;font-weight:bold;\">Participante</td><td style=\"padding:8px 16px;font-size:11px;color:#888;font-weight:bold;\">Agente</td><td style=\"padding:8px 16px;font-size:11px;color:#888;font-weight:bold;text-align:center;\">Goles ⚽</td><td style=\"padding:8px 16px;font-size:11px;color:#888;font-weight:bold;text-align:center;\">Correctas</td><td style=\"padding:8px 16px;font-size:11px;color:#888;font-weight:bold;text-align:center;\">Vel.</td></tr>\n      ${rankRow('1', top5[0], true)}\n      ${rankRow('2', top5[1], true)}\n      ${rankRow('3', top5[2], false)}\n      ${rankRow('4', top5[3], false)}\n      ${rankRow('5', top5[4], false)}\n    </table>\n  </td></tr></table>\n</td></tr>\n\n<!-- TRIVIAS -->\n<tr><td style=\"padding-bottom:12px;\">\n  <table width=\"100%\" style=\"background:#fff;border:1px solid #e0e0e0;border-radius:4px;\"><tr>\n    <td style=\"padding:12px 16px;border-bottom:1px solid #eee;\"><strong style=\"font-size:12px;color:#444;\">📋 Actividad por Trivia</strong></td>\n  </tr><tr>\n    <td style=\"padding:12px 16px 4px;font-size:12px;color:#555;line-height:1.6;border-bottom:1px solid #eee;\">${analisis.trivia}</td>\n  </tr><tr><td style=\"padding:16px;\">\n    <table width=\"100%\">${triviaRows}</table>\n  </td></tr></table>\n</td></tr>\n\n<!-- AGENTE -->\n<tr><td style=\"padding-bottom:12px;\">\n  <table width=\"100%\" style=\"background:#fff;border:1px solid #e0e0e0;border-radius:4px;\"><tr>\n    <td style=\"padding:12px 16px;border-bottom:1px solid #eee;\"><strong style=\"font-size:12px;color:#444;\">🏢 Agente Líder del Día</strong></td>\n  </tr><tr>\n    <td style=\"padding:12px 16px 4px;font-size:12px;color:#555;line-height:1.6;border-bottom:1px solid #eee;\">${analisis.agente}</td>\n  </tr><tr><td style=\"padding:16px;\">\n    <table width=\"100%\"><tr>\n      <td style=\"padding:8px 12px;font-size:14px;color:#333;font-weight:bold;\">${topAgent.agent_name||'—'}</td>\n      <td style=\"padding:8px 12px;font-size:13px;color:#555;text-align:center;\">${topAgent.participantes} part.</td>\n      <td style=\"padding:8px 12px;font-size:13px;color:#555;text-align:center;\">${topAgent.registrados} reg.</td>\n      <td style=\"padding:8px 12px;font-size:14px;color:#333;font-weight:bold;text-align:center;\">${topAgent.goles} ⚽</td>\n      <td style=\"padding:8px 12px;font-size:13px;color:#5cb85c;text-align:center;font-weight:bold;\">${topAgent.pct_acierto}%</td>\n    </tr></table>\n  </td></tr></table>\n</td></tr>\n\n<!-- PROYECCIÓN -->\n<tr><td style=\"padding-bottom:24px;\">\n  <table width=\"100%\" style=\"background:#fff;border:1px solid #e0e0e0;border-radius:4px;\"><tr>\n    <td style=\"padding:12px 16px;border-bottom:1px solid #eee;\"><strong style=\"font-size:12px;color:#444;\">📈 Proyección de Participación</strong></td>\n  </tr><tr>\n    <td style=\"padding:12px 16px 4px;font-size:12px;color:#555;line-height:1.6;border-bottom:1px solid #eee;\">${analisis.proyeccion}</td>\n  </tr><tr><td style=\"padding:24px 16px;text-align:center;\">${projText}</td></tr></table>\n</td></tr>\n\n<!-- CTA DASHBOARD -->\n<tr><td style=\"padding-bottom:20px;text-align:center;\">\n  <a href=\"${dashUrl}\" style=\"display:inline-block;background:#1a1a2e;color:white;padding:12px 32px;border-radius:6px;text-decoration:none;font-size:14px;font-weight:bold;\">📊 Ver Dashboard Completo →</a>\n</td></tr>\n\n<!-- FOOTER -->\n<tr><td style=\"text-align:center;padding-bottom:16px;border-top:1px solid #e0e0e0;padding-top:16px;\">\n  <img src=\"${logoUrl}\" height=\"20\" alt=\"NODO\" style=\"opacity:0.4;vertical-align:middle;margin-right:6px;\">\n  <span style=\"font-size:11px;color:#aaa;\">Powered by NODO · v1.6 · 2026 · <a href=\"https://www.nodo.live\" style=\"color:#aaa;\">www.nodo.live</a></span><br>\n  <span style=\"font-size:11px;color:#aaa;\">Reporte automático generado por NODO · Crack Tesos 2026 · Bogotá, Colombia</span>\n</td></tr>\n\n</table></td></tr></table>\n</body></html>`;\n\nreturn [{json: {\n  html,\n  subject: `⚽ Crack Tesos 2026 — Reporte del ${ctx.fechaCorta}`,\n  fechaCorta: ctx.fechaCorta\n}}];"
      },
      "id": "build-html",
      "name": "Construir Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 620]
    },
    {
      "parameters": {
        "operation": "createDraft",
        "sendTo": "jaime.chaves@nodo.live",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "bodyContentType": "html",
          "ccList": "",
          "bccList": ""
        }
      },
      "id": "gmail-draft",
      "name": "Gmail — Crear Borrador",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 620],
      "credentials": {"gmailOAuth2": {"id": "gmail-creds", "name": "Gmail account"}}
    }
  ],
  "connections": {
    "Cron 12AM Bogotá (05:00 UTC)": {"main": [[{"node": "Query KPIs", "type": "main", "index": 0}]]},
    "Query KPIs":         {"main": [[{"node": "Query Top 5", "type": "main", "index": 0}]]},
    "Query Top 5":        {"main": [[{"node": "Query Agente Líder", "type": "main", "index": 0}]]},
    "Query Agente Líder": {"main": [[{"node": "Query Diario", "type": "main", "index": 0}]]},
    "Query Diario":       {"main": [[{"node": "Query Trivias", "type": "main", "index": 0}]]},
    "Query Trivias":      {"main": [[{"node": "Preparar Contexto", "type": "main", "index": 0}]]},
    "Preparar Contexto":  {"main": [[{"node": "Claude API — Análisis", "type": "main", "index": 0}]]},
    "Claude API — Análisis": {"main": [[{"node": "Construir Email HTML", "type": "main", "index": 0}]]},
    "Construir Email HTML":  {"main": [[{"node": "Gmail — Crear Borrador", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "crack-tesos"}, {"name": "email"}]
}
